<div [@fadeInOut]>
    <br />
    <div class="row pt-1 mb-3">
        <div>
            <h1 class="h2">Consulta</h1>
        </div>
    </div>
    <br />
    <!--<div *ngIf="model.tickets && model.tickets.length > 0" class="fade-in-container">-->
        <!--<pagina-widget [pagina]="model.pagina" [numPaginas]="model.numPaginas" [rows]="model.rows" (chgEvent)="muevePagina($event)"></pagina-widget>-->
    <!--</div>-->
</div>
<!--<confirma-widget (confirmaEvent) ="cerrarTicket($event)"></confirma-widget>-->