<!--MENU ESTATICO-->
<nav id="sidebarMenustatic" class=" d-none d-md-block sidebar"
     [ngClass]="{
     'collapse text-md-center': !menuExpandido,
     'expanded text-md-start': menuExpandido && !menuExpandidoSubSubMenu,
     'expandedSubSubMenu text-md-start': menuExpandido && menuExpandidoSubSubMenu}"
     (mouseenter)="openMenu()"
     (mouseleave)="closeMenuMouse()">
    <ul class="nav row" [ngClass]="menuExpandido ? 'text-md-start' : 'text-md-center'">
        <!--MENU-->
        <li *ngFor="let menuArea of menu" class="nav-item" (click)="toggleSubMenu( menuArea.areaDescripcion,1); openMenu()"
            [ngClass]="menuExpandido ? 'text-md-start' : 'text-md-center'">
            <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#sidebarMenu">
                <span><i class="fa-solid {{ menuArea.areaIcono }} fa-1x"></i><span *ngIf="menuExpandidotext"> {{ menuArea.areaDescripcion}}</span></span>
            </a>
            <div class="submenu text-start ps-2" id="{{ menuArea.areaDescripcion}}">
                <hr />
                <ul>

                    <!--SUBMENU-->
                    <li *ngFor="let menuAreaProceso of menuArea.menuAreaProceso" (click)="toggleSubSubMenu( menuArea.areaDescripcion + menuAreaProceso.proceso, $event)">
                        <span class="nav-link"><i class="fa-solid fa-chevron-down"></i> {{ menuAreaProceso.proceso}}</span>
                        <div class="subsubmenu ps-3" [id]="menuArea.areaDescripcion + menuAreaProceso.proceso">
                            <ul>

                                <!--SUBSUBMENU-->
                                <li *ngFor="let menuAreaProcesoFormulario of menuAreaProceso.menuAreaProcesoFormulario"
                                    class="nav-item"
                                    (click)="toggleSubMenu(menuArea.areaDescripcion,1); closeMenu()"
                                    [routerLink]="[menuAreaProcesoFormulario.areaPathNew]"
                                    [routerLinkActive]='["active"]'
                                    aria-current="page">
                                    <a class="nav-link border-bottom">
                                        <div class="row d-flex align-items-center">
                                            <div class="col-md-2 col-2 text-end">
                                                <i class="fa-solid fa-arrow-right text-start"></i>
                                            </div>
                                            <div class="col-md-10 col-6">
                                                {{ menuAreaProcesoFormulario.areaLabel }}
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <hr />
            </div>
        </li>
        <li class="nav-item" [ngClass]="menuExpandido ? 'text-md-start' : 'text-md-center'" (click)="toggleTheme()">
            <a class="nav-link">
                <span *ngIf="isDarkTheme"> <i class="fa-solid fa-sun fa-1x" style="color: lightgray;"></i><span *ngIf="menuExpandidotext"> Tema</span></span>
                <span *ngIf="!isDarkTheme"> <i class="fa-solid fa-moon fa-1x" style="color: #333333;"></i><span *ngIf="menuExpandidotext"> Tema</span></span>
            </a>
        </li>
    </ul>
</nav>
<!--PARA MOVILES-->

<nav id="sidebarMenustatic" class=" col-md-auto d-md-none sidebar overflow-container show"
     [ngClass]="{
     'collapse text-md-center': !menuExpandido,
     'expanded text-md-start': menuExpandido && !menuExpandidoSubSubMenu,
     'expandedSubSubMenu text-md-start': menuExpandido && menuExpandidoSubSubMenu}"
     (mouseenter)="openMenu()"
     (mouseleave)="closeMenuMouse()">
    <ul class="nav row" [ngClass]="menuExpandido ? 'text-md-start' : 'text-md-center'">
        <!--MENU-->
        <li *ngFor="let menuArea of menu" class="nav-item" (click)="toggleSubMenu( menuArea.areaDescripcion,1); openMenu()"
            [ngClass]="menuExpandido ? 'text-md-start' : 'text-md-center'">
            <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#sidebarMenu">
                <span><i class="fa-solid {{ menuArea.areaIcono }} fa-2x"></i><span class="fade-in-out h5" *ngIf="menuExpandidotext"> {{ menuArea.areaDescripcion}}</span></span>
            </a>
            <div class="submenu text-start ps-4" id="{{ menuArea.areaDescripcion}}">
                <hr />
                <ul>

                    <!--SUBMENU-->
                    <li *ngFor="let menuAreaProceso of menuArea.menuAreaProceso" (click)="toggleSubSubMenu( menuArea.areaDescripcion + menuAreaProceso.proceso, $event)">
                        <span class="nav-link"><i class="fa-solid fa-chevron-down"></i> {{ menuAreaProceso.proceso}}</span>
                        <div class="subsubmenu ps-4" [id]="menuArea.areaDescripcion + menuAreaProceso.proceso">
                            <ul>

                                <!--SUBSUBMENU-->
                                <li *ngFor="let menuAreaProcesoFormulario of menuAreaProceso.menuAreaProcesoFormulario"
                                    class="nav-item"
                                    (click)="toggleSubMenu(menuArea.areaDescripcion,1); closeMenu()"
                                    [routerLink]="[menuAreaProcesoFormulario.areaPathNew]"
                                    [routerLinkActive]='["active"]'
                                    aria-current="page">
                                    <span class="nav-link"><i class="fa-solid fa-arrow-right"></i> {{ menuAreaProcesoFormulario.areaLabel }}</span>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <hr />
            </div>
            <hr />
        </li>
        <li class="nav-item" [ngClass]="menuExpandido ? 'text-md-start' : 'text-md-center'" (click)="toggleTheme()">
            <a class="nav-link">
                <span *ngIf="isDarkTheme"> <i class="fa-solid fa-sun fa-1x" style="color: lightgray;"></i><span *ngIf="menuExpandidotext"> Tema</span></span>
                <span *ngIf="!isDarkTheme"> <i class="fa-solid fa-moon fa-1x" style="color: #333333;"></i><span *ngIf="menuExpandidotext"> Tema</span></span>
            </a>
        </li>
    </ul>
</nav>