<!--MENU ESTATICO-->
<nav *ngIf="menu != null && menu.length > 0" id="sidebarMenustatic" class=" d-none d-xl-block sidebar collapse"
     [ngClass]="{
     'collapse text-md-center': !menuExpandido,
     'expanded text-md-start': menuExpandido && !menuExpandidoSubSubMenu,
     'expandedSubSubMenu text-md-start': menuExpandido && menuExpandidoSubSubMenu}"
     (mouseenter)="openMenu()"
     (mouseleave)="closeMenuMouse()"
     style="overflow:hidden; overflow-x: hidden; overflow-y: hidden" #menuStatic>

    <!--MENU-->
    <ul class="nav row d-flex h-100 pt-2 " [ngClass]="menuExpandido ? 'text-md-start' : 'text-md-center'">
        <li *ngFor="let menuArea of menu" class="nav-item mb-2" (click)="toggleSubMenu( menuArea.areaDescripcion,1); openMenu()">
            <a class="nav-link" data-bs-target="#sidebarMenu">
                <div class="row">
                    <div [ngClass]="{
                         'col-md-12 text-center' : !menuExpandido,
                         'col-md-2 text-start' : menuExpandido,
                         'col-md-1 text-start' : menuExpandidoSubSubMenu
                         }">
                        <span><i class="fa-solid {{ menuArea.areaIcono }} fa-xl me-2"></i></span>
                    </div>
                    <div [ngClass]="menuExpandido ? 'col-md-10 text-start' : 'd-none text-start'">
                        <span *ngIf="menuExpandidotext"> {{ menuArea.areaDescripcion }}</span>
                    </div>
                </div>
            </a>
            <div class="submenu text-start ms-2" id="{{ menuArea.areaDescripcion}}">

                <!--SUBMENU-->
                <ul>
                    <li *ngFor="let menuAreaProceso of menuArea.menuAreaProceso" (click)="toggleSubSubMenu( menuArea.areaDescripcion + menuAreaProceso.proceso, $event)">
                        <span class="nav-link border-bottom ms-2"><i class="fa-solid fa-chevron-down me-2"></i> {{ menuAreaProceso.proceso }}</span>
                        <div class="subsubmenu ps-3" [id]="menuArea.areaDescripcion + menuAreaProceso.proceso">

                            <!--SUBSUBMENU-->
                            <ul>
                                <li *ngFor="let menuAreaProcesoFormulario of menuAreaProceso.menuAreaProcesoFormulario"
                                    class="nav-item"
                                    (click)="toggleSubMenu(menuArea.areaDescripcion,1); closeMenu()"
                                    [routerLink]="[menuAreaProcesoFormulario.areaPathNew]">
                                    <a class="nav-link">
                                        <div class="row d-flex align-items-center">
                                            <div class="col-md-2 col-2 text-end">
                                                <i class="fa-solid fa-arrow-right text-end"></i>
                                            </div>
                                            <div class="col-md-10 col-6">
                                                {{ menuAreaProcesoFormulario.areaLabel }}
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <br />
                                </li>
                            </ul>
                            <br />
                        </div>
                    </li>
                    <li>
                        <br />
                        <br />
                    </li>
                </ul>
                <hr />
            </div>
        </li>

        <li class="nav-item" [ngClass]="menuExpandido ? 'text-md-start' : 'text-md-start'" (click)="toggleTheme()">
            <a class="nav-link border-bottom" data-bs-toggle="collapse" data-bs-target="#sidebarMenuMovil">
                <div *ngIf="isDarkTheme" class="row">
                    <div class="col-md-2 col-2 text-start">
                        <i class="fa-solid fa-sun fa-xl"></i>
                    </div>
                    <div class="col-md-10 col-10 text-start">
                        <span> Tema</span>
                    </div>
                </div>
                <div *ngIf="!isDarkTheme" class="row">
                    <div class="col-md-2 col-2 text-start">
                        <i class="fa-solid fa-moon fa-xl"></i>
                    </div>
                    <div class="col-md-10 col-10 text-start">
                        <span> Tema</span>
                    </div>
                </div>
            </a>
        </li>
        <!--<div class="row">
            <div [ngClass]="{
         'col-md-12 text-center' : !menuExpandido,
         'col-md-2 text-start' : menuExpandido,
         'col-md-1 text-start' : menuExpandidoSubSubMenu
         }">
                <span><i class="fa-solid {{ menuArea.areaIcono }} fa-xl"></i></span>
            </div>
            <div [ngClass]="menuExpandido ? 'col-md-10 text-start' : 'd-none text-start'">
                <span *ngIf="menuExpandidotext"> {{ menuArea.areaDescripcion }}</span>
            </div>
        </div>
        <li class="nav-item" [ngClass]="menuExpandido ? 'text-md-start' : 'text-md-start'" (click)="toggleTheme()">
            <a class="nav-link">
                <span *ngIf="isDarkTheme"> <i class="fa-solid fa-sun fa-xl" style="color: lightgray;"></i><span *ngIf="menuExpandidotext"> Tema</span></span>
                <span *ngIf="!isDarkTheme"> <i class="fa-solid fa-moon fa-xl" style="color: #333333;"></i><span *ngIf="menuExpandidotext"> Tema</span></span>
            </a>
        </li>-->
    </ul>
</nav>


<!--PARA MOVILES-->
<nav *ngIf="menu != null && menu.length > 0" id="sidebarMenuMovil" class=" col-xl-auto d-xl-none sidebar collapse"
     [ngClass]="{
'expanded text-md-center': !menuExpandido,
'expanded text-md-start': menuExpandido && !menuExpandidoSubSubMenu}">
    <!--MENU-->
    <ul class="nav row d-flex h-100">
        <li *ngFor="let menuArea of menu" class="nav-item" (click)="toggleSubMenuMov( menuArea.areaDescripcion + 'mov',1); openMenuMov()">
            <a class="nav-link border-bottom">
                <div class="row">
                    <div class="col-md-2 col-2 text-start h4 mb-3 mt-3">
                        <span><i class="fa-solid {{ menuArea.areaIcono }} fa-1x"></i></span>
                    </div>
                    <div class="col-md-10 col-10 text-start h4 mb-3 mt-3">
                        <span> {{ menuArea.areaDescripcion }}</span>
                    </div>

                </div>
            </a>
            <div class="submenumov text-start ps-2" id="{{ menuArea.areaDescripcion + 'mov'}}">
                <!--SUBMENU-->
                <ul>
                    <li *ngFor="let menuAreaProceso of menuArea.menuAreaProceso" (click)="toggleSubSubMenuMov( menuArea.areaDescripcion + menuAreaProceso.proceso + 'mov', $event)">
                        <div class="nav-link border-bottom h4">
                            <i class="fa-solid fa-chevron-down fa-xl me-2 mb-3 mt-3"></i><span class="h4">{{ menuAreaProceso.proceso }}</span>
                        </div>
                        <div class="subsubmenumov ps-3" [id]="menuArea.areaDescripcion + menuAreaProceso.proceso + 'mov'">

                            <!--SUBSUBMENU-->
                            <ul>
                                <li *ngFor="let menuAreaProcesoFormulario of menuAreaProceso.menuAreaProcesoFormulario"
                                    class="nav-item border-bottom"
                                    (click)="toggleSubMenuMov(menuArea.areaDescripcion,1); closeMenu()"
                                    [routerLink]="[menuAreaProcesoFormulario.areaPathNew]"
                                    data-bs-toggle="collapse" data-bs-target="#sidebarMenuMovil">
                                    <div class="nav-link border-bottom row">
                                        <div class="ms-2">
                                            <i class="fa-solid fa-arrow-right fa-xl text-start me-2 mb-3 mt-3"></i>
                                            <span class="h5">{{ menuAreaProcesoFormulario.areaLabel }}</span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <br />
                                    <br />
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <br />
                        <br />
                    </li>
                </ul>
                <hr />
            </div>
        </li>
        <li class="nav-item" [ngClass]="menuExpandido ? 'text-md-start' : 'text-md-start'" (click)="toggleTheme()">
            <a class="nav-link border-bottom" data-bs-toggle="collapse" data-bs-target="#sidebarMenuMovil">
                <div *ngIf="isDarkTheme" class="row">
                    <div class="col-md-2 col-2 text-start h4 mb-3 mt-3">
                        <i class="fa-solid fa-sun fa-xl"></i>
                    </div>
                    <div class="col-md-10 col-10 text-start h4 mb-3 mt-3">
                        <span> Tema</span>
                    </div>
                </div>
                <div *ngIf="!isDarkTheme" class="row">
                    <div class="col-md-2 col-2 text-start h4 mb-3 mt-3">
                        <i class="fa-solid fa-moon fa-xl" ></i>
                    </div>
                    <div class="col-md-10 col-10 text-start h4 mb-3 mt-3">
                        <span> Tema</span>
                    </div>
                </div>
            </a>
        </li>
    </ul>
</nav>
























<!--<nav id="sidebarMenu" class=" col-md-auto d-md-none sidebar collapse"
     [ngClass]="{
     'expanded text-md-start': menuExpandidophone && !menuExpandidoSubSubMenuphone,
     'expandedSubSubMenu text-md-start': menuExpandido && menuExpandidoSubSubMenuphone}"
     (mouseenter)="openMenu()"
     (mouseleave)="closeMenuMouse()">
    <ul class="nav row" [ngClass]="menuExpandidophone ? 'text-md-start' : 'text-md-center'">-->
<!--MENU-->
<!--<li *ngFor="let menuArea of menu" class="nav-item" (click)="toggleSubMenu( menuArea.areaDescripcion,1); openMenu()"
    [ngClass]="menuExpandidophone ? 'text-md-start' : 'text-md-center'">
    <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#sidebarMenu">
        <span><i class="fa-solid {{ menuArea.areaIcono }} fa-2x"></i><span class="h5"> {{ menuArea.areaDescripcion }}</span></span>
    </a>
    <div class="submenu text-start ps-4" id="{{ menuArea.areaDescripcion}}">
        <hr />
        <ul>-->
<!--SUBMENU-->
<!--<li *ngFor="let menuAreaProceso of menuArea.menuAreaProceso" (click)="toggleSubSubMenu( menuArea.areaDescripcion + menuAreaProceso.proceso, $event)">
    <span class="nav-link"><i class="fa-solid fa-chevron-down"></i> {{ menuAreaProceso.proceso }}</span>
    <div class="subsubmenu ps-4" [id]="menuArea.areaDescripcion + menuAreaProceso.proceso">
        <ul>-->
<!--SUBSUBMENU-->
<!--<li *ngFor="let menuAreaProcesoFormulario of menuAreaProceso.menuAreaProcesoFormulario"
                                    class="nav-item"
                                    (click)="toggleSubMenu(menuArea.areaDescripcion,1); closeMenu()"
                                    [routerLink]="[menuAreaProcesoFormulario.areaPathNew]"
                                    [routerLinkActive]='["active"]'
                                    aria-current="page">
                                    <span class="nav-link"><i class="fa-solid fa-arrow-right"></i> {{ menuAreaProcesoFormulario.areaLabel }}</span>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <hr />
            </div>
            <hr />
        </li>
        <li class="nav-item" [ngClass]="menuExpandidophone ? 'text-md-start' : 'text-md-center'" (click)="toggleTheme()">
            <a class="nav-link">
                <span *ngIf="isDarkTheme"> <i class="fa-solid fa-sun fa-1x" style="color: lightgray;"></i><span *ngIf="menuExpandidotextphone"> Tema</span></span>
                <span *ngIf="!isDarkTheme"> <i class="fa-solid fa-moon fa-1x" style="color: #333333;"></i><span *ngIf="menuExpandidotextphone"> Tema</span></span>
            </a>
        </li>
    </ul>
</nav>-->
